
<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let item of formConfig">
        <ng-container [ngSwitch]="item.type">

          <div class="p-field flexible col-{{item.width}}">

            <div class="field-title">
              <label
                class="field-title__label"
                for="{{item.name}}">{{item.label}}
              </label>
              <i
                [ngClass]="{
                  'pi': true,
                  'pi-check-circle': true,
                  'field-title__mask': true,
                  'invalid': form.controls[item.name].errors
                }"
              ></i>
              <i class="pi pi-question field-title__question"></i>
            </div>

            <ng-container *ngSwitchCase="'string'" >
              <input
                pInputText
                [formControlName]="item.name"
                id="{{item.name}}"
                type="text"
                (input)="onChangeValueInField($event, item.name, item.type)"
              />
            </ng-container>

            <ng-container *ngSwitchCase="'number'" >
              <p-inputNumber
                [formControlName]="item.name"
                inputId="{{item.name}}"
                (onInput)="onChangeValueInField($event, item.name, item.type)"
              >
              </p-inputNumber>
            </ng-container>

            <ng-container *ngSwitchCase="'dropdown'">
              <p-dropdown
                [filter]="true"
                [options]="item.list"
                [formControlName]="item.name"
                inputId="{{item.name}}"
                (onChange)="onChangeValueInField($event, item.name, item.type)"
              ></p-dropdown>
            </ng-container>

            <ng-container *ngSwitchCase="'calendar'">
              <p-calendar
                inputId="{{item.name}}"
                [formControlName]="item.name"
                [readonlyInput]="true"
                [showIcon]="true"
                (onSelect)="onChangeValueInField($event, item.name, item.type)"
              ></p-calendar>
            </ng-container>

            <ng-container *ngSwitchCase="'mask'">
              <p-inputMask
                [formControlName]="item.name"
                [autoClear]="false"
                mask="{{item.mask}}"
                inputId="{{item.name}}"
                [ariaRequired]="true"
                (onComplete)="onChangeValueInField($event, item.name, item.type)"
              ></p-inputMask>
            </ng-container>

            <ng-container *ngSwitchCase="'radio'">
                <p-radioButton
                  *ngFor="let radio of item.list"
                  name="{{item.name}}"
                  [value]="radio.value"
                  [label]="radio.label"
                  [formControlName]="item.name"
                  (onClick)="onChangeValueInField($event, item.name, item.type)"
              ></p-radioButton>
            </ng-container>

            <ng-container *ngSwitchCase="'checkbox'" class="p-mr-3">
                <p-checkbox
                  *ngFor="let radio of item.list"
                  name="{{item.name}}"
                  [value]="radio.value"
                  [label]="radio.label"
                  [formControl]="form.controls[item.name]"
                  (onChange)="onChangeValueInField($event, item.name, item.type)"
              ></p-checkbox >
            </ng-container>

        </div>

        </ng-container>
      </ng-container>

    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button pButton label="Submit" type="submit"></button>
      </div>
    </div>
  </div>

</form>



