/* You can add global styles to this file, and also import other style files */

/*
  фиксим высоту пустого значения в выпадающем списке (options) для пустого значения
 */

.p-dropdown-item
  min-height: 37px

/*
  фиксим высоту инпута для дропдауна, если выбрано пустое значение
  */
.p-dropdown
  .p-dropdown-label
    min-height: 37px

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'


.flexible
  display: flex
  flex-direction: column

.p-dropdown,
.p-inputnumber,
.p-inputmask,
.p-calendar
  width: 100%


.field-title
  display: flex
  align-items: baseline
  .field-title__label
    margin-right: 12px
  .field-title__mask
    &.invalid
      color: #F35757
    color: #8EDDAB
  .field-title__question
    color: #528BB0
    margin-left: auto
